<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dummy app for everyone" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
{{--    <link rel="icon" type="image/png" href="/favicon.ico">--}}

    <!-- Scripts -->
    <script type="text/javascript">
        window.appName = '{{ $appName }}';
        window.logo = '{{ asset('assets/images/logo.svg') }}';
    </script>

    @routes
    @entryPointStyles('app')
    @entryPointScripts('app')

    @inertiaHead
</head>
<body class="antialiased body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">
@inertia()
</body>
</html>
